
@{
    ViewBag.Title = "TablaProductos";
}
    <link href="~/Content/datatables.css" rel="stylesheet" />

<script>

    $.get("/Productos/Moneda", function (moneda) {


        var numero3cifras = 123213.2348343;

        var numero2cifras = 123213.2348343;

        var numeroSINcifras = 123213;

        alert(new Intl.NumberFormat("es-AR", { style: "currency", currency: "ARS" }).format(numeroSINcifras));

        alert(new Intl.NumberFormat("es-AR", { style: "currency", currency: "ARS", maximumFractionDigits: 2 }).format(numeroSINcifras));

        alert(new Intl.NumberFormat("es-AR", { style: "currency", currency: "ARS", maximumFractionDigits: 3 }).format(numero3cifras));

        alert(new Intl.NumberFormat("es-AR", { style: "currency", currency: "ARS", maximumFractionDigits: 2 }).format(numero2cifras));



        alert(new Intl.NumberFormat("es-AR", { style: "currency", currency: "ARS" }).format(moneda));
    });

</script>



<script>

    $.get("/Productos/Fecha", function (fecha) {

        moment.locale("es");

        fecha = moment(fecha).format('L');
        alert("MI CUMPLE ES EL " + fecha);
    });


</script>




<script src="~/Scripts/datatables.min.js"></script>

<script>

    $.get("/Productos/ListarProductos", function (data) {

        CrearListado(data);
    });

    function CrearListado(data) {




        var contenido = "";


        contenido += "<table id='tabla-producto' class='table table-striped'>";
        contenido += "<thead>";
        contenido += "<tr>";
        contenido += "<th>ID</th>";
        contenido += "<th>DESCRIPCION</th>";
        contenido += "<th>PRECIO</th>";
        contenido += "<th>STOCK</th>";
        contenido += "<th>FECHA_VENCIMIENTO</th>"
        contenido += "<th>ACTIVO</th>";
        contenido += "</tr>";
        contenido += "</thead>";
        contenido += "<tbody>";

        for (var i = 0; i < data.length; i++) {



            contenido += "<tr>";
            contenido += "<td>" + data[i].ID + "</td>";
            contenido += "<td>" + data[i].DESCRIPCION + "</td>";
            contenido += "<td>" + parsearMoneda(data[i].PRECIO) + "</td>";
            contenido += "<td>" + data[i].STOCK + "</td>";
            contenido += "<td>" + parsearFecha(data[i].FECHA_VENCIMIENTO) + "</td>";
            contenido += "<td>" + parsearBoolean(data[i].ACTIVO) + "</td>";
            contenido += "</tr>";

        }



        contenido += "</tbody>";
        contenido += "</table>";

        document.getElementById("idTablaProducto").innerHTML = contenido;
        $("#tabla-producto").dataTable({ searching: false});
    };

    function parsearBoolean(booleano) {

        if (booleano == true) {
            return "SÍ";
        } else { return "NO"; }
    };

    function parsearMoneda(decimal) {

        return new Intl.NumberFormat("es-AR", { style: "currency", currency: "ARS" }).format(decimal);
    };

    function parsearFecha(fecha) {


        if (fecha != null) {

            moment.locale("es");

            return moment(fecha).format('L');
            
        } else {

            return "No Aplica"
        }


    };


</script>

<div id="idTablaProducto"></div>
