
@{
    ViewBag.Title = "Tabla";
}

    
<h2>Tabla</h2>
<link href="~/Content/datatables.css" rel="stylesheet" />
<br />
<label>Descripcion: </label>
<input type="text" id="txtBusqueda" value="" />
<input type="button" id="btnBuscar" value="Buscar"  class="btn btn-success"/>
<br />

<div id="idTablaProducto"></div>


<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/TABLAPRODUCTOS.js"></script>