<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="../../Content/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="container">


        <div class="card-deck">

            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item" src="https://http2.mlstatic.com/consola-play-station-4-joystick-fifa-19-ps4-2050d-D_NQ_NP_941877-MLA31116375176_062019-F.jpg" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Playstation 4 c/FIFA19</h5>
                    <p class="card-text">Playstation 4 | 1TB | 1 Joystick | FIFA 19</p>
                    <h4 class="card-title">$29999.00</h4>
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>


            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item" src="https://media.4rgos.it/i/Argos/8361590_R_Z001A?w=500&h=500&qlt=70" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Playstation 4 Pro</h5>
                    <p class="card-text">Playstation 4 Pro | 1 TB | 1 Joystick | 4K</p>
                    <h4 class="card-title">$39999.00</h4>
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>



            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item" src="https://ae01.alicdn.com/kf/HTB1w5VBSXXXXXccXpXXq6xXFXXXp/Logitech-G502-Proteus-juegos-rat-n-ratones.jpg" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mouse G502</h5>
                    <p class="card-text">Mouse Logitech G502 | RGB | 12000 DPI</p>
                    <h4 class="card-title">$2499.00</h4>
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>


        </div>



    </div>






    <div class="container">


        <div class="card-deck">

            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item" src="https://http2.mlstatic.com/consola-play-station-4-joystick-fifa-19-ps4-2050d-D_NQ_NP_941877-MLA31116375176_062019-F.jpg" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Playstation 4 c/FIFA19</h5>
                    <p class="card-text">Playstation 4 | 1TB | 1 Joystick | FIFA 19</p>
                    <h4 class="card-title">$29999.00</h4>
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>


            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item" src="https://media.4rgos.it/i/Argos/8361590_R_Z001A?w=500&h=500&qlt=70" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Playstation 4 Pro</h5>
                    <p class="card-text">Playstation 4 Pro | 1 TB | 1 Joystick | 4K</p>
                    <h4 class="card-title">$39999.00</h4>
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>



            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item" src="https://ae01.alicdn.com/kf/HTB1w5VBSXXXXXccXpXXq6xXFXXXp/Logitech-G502-Proteus-juegos-rat-n-ratones.jpg" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mouse G502</h5>
                    <p class="card-text">Mouse Logitech G502 | RGB | 12000 DPI</p>
                    <h4 class="card-title">$2499.00</h4>
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>


        </div>

    </div>





    <div class="container">


        <div class="card-deck">

            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item" src="https://http2.mlstatic.com/consola-play-station-4-joystick-fifa-19-ps4-2050d-D_NQ_NP_941877-MLA31116375176_062019-F.jpg" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Playstation 4 c/FIFA19</h5>
                    <p class="card-text">Playstation 4 | 1TB | 1 Joystick | FIFA 19</p>
                    <h4 class="card-title">$29999.00</h4>
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>


            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item" src="https://media.4rgos.it/i/Argos/8361590_R_Z001A?w=500&h=500&qlt=70" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Playstation 4 Pro</h5>
                    <p class="card-text">Playstation 4 Pro | 1 TB | 1 Joystick | 4K</p>
                    <h4 class="card-title">$39999.00</h4>
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>



            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item" src="https://ae01.alicdn.com/kf/HTB1w5VBSXXXXXccXpXXq6xXFXXXp/Logitech-G502-Proteus-juegos-rat-n-ratones.jpg" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mouse G502</h5>
                    <p class="card-text">Mouse Logitech G502 | RGB | 12000 DPI</p>
                    <h4 class="card-title">$2499.00</h4>
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>


        </div>

    </div>

</body>
</html>